body{
    font-family:'Special Elite', 'cursive';
    background-color: floralwhite;
}
.header_div{
    background-color:rgb(118, 241, 250) ;
    color:rgb(24, 5, 66) ;
}
.header_div p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:rgb(22, 97, 184) ;
    letter-spacing:2px;
    font-size:20px ;
    font-weight:20px;
}
.main_div button{
    font-family:'Courier New', Courier, monospace, 'cursive' ;
    color: black;
    background-color:greenyellow;
    margin-top: 20px;
    font-weight: 20px;
    letter-spacing: 2px;
}
.copy_right_footer{
    bottom:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color: black;
    background-color: rgb(86, 9, 86);
    width:100%;
    line-height: 4;
    text-align: center;
    position: fixed;
}